@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    color: rgb(0, 0, 0);
    border: ;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: rgb(193, 211, 226);
}

